/* Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap');

/* font-family: "Great Vibes", cursive; */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #1a1a1a;
}

/* Navbar section style */
header {
    /* background-color: aqua; */

}

.navbar-title {
    margin-top: 3.6rem;
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.navbar-section-2 {
    margin-top: 3.6rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 80px;
    /* border: 2px solid red; */
}

.navbar-button {
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #1a1a1a;
    font-size: 1.125rem;
    font-weight: 600;
}

.navbar-button:hover {
    background-color: rgb(230, 83, 60);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 11.87rem;
    margin-right: 11.87rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.navbar-option {
    display: flex;
    gap: 2.25rem;
    width: 100%;
}

/* Banner section style */
.banner {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15.5rem;
    margin-left: 11.87rem;
    margin-right: 11.87rem;
}

.banner-title {
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
}

.shape {
    font-family: "Great Vibes", cursive;
    font-size: 4.8rem;
    font-weight: 400;
}

.banner-description {
    margin-top: 1.75rem;
    color: rgba(255, 255, 255, 0.5);
}

.banner-button {
    margin-top: 1.75rem;
    padding: 16px 40px 16px 40px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0f0f0f;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.banner-main-button {
    display: flex;
    gap: 10px;
}

.banner-button:hover {
    background-color: rgb(230, 83, 60);
    border: none;
}

.banner-section-1 {
    /* border: 2px solid red; */
}

.banner-section-2 {
    /* border: 2px solid red; */
    position: relative;
}

.ring-button {
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(230, 83, 60);
    border: none;
}

/* .box-1{
    position: absolute;
    top: 10%;
    margin-left: -50px;
    color: white;
} */
.box-2 {
    position: absolute;
}

.main-box {
    /* border: 2px solid red; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 15%;
    margin-left: -25%;
    padding: 15px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    color: white;
}

.box-1-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.box-1-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

.circle {
    padding: 15px;
    border-radius: 100px;
    border: none;
    background-color: rgb(230, 83, 60);
}

.box-2 {
    color: white;
    position: absolute;
    bottom: 60%;
    margin-left: 60%;
    /* border: 2px solid red; */
    width: 55%;
    padding: 3%;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.box-2-title {
    font-size: 2.5rem;
    font-weight: 900;
}

.box-2-description {
    color: rgba(239, 237, 232, 0.65);
}

.icon {
    display: none;
}


/* Small device responsive */
@media screen and (max-width: 576px) {
    body {
        width: 100%;
        /* margin: 0 auto; */
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    ul li a {
        display: none;
    }

    .icon {
        display: block;
    }

    .navbar-section-2 {
        border: none;
    }

    .banner {
        flex-direction: column;
        margin: 0 auto;
        border: none;
        gap: 15px;
        margin-top: 50px;
    }

    .banner-section-1 {
        justify-content: center;
        align-items: center;
    }

    .banner-main-button {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .banner-section-2 {
        /* text-align: center; */
        margin: 0 auto;
    }

    .main-box {
        margin: 0 auto;
    }

    .box-2 {
        margin-left: 53%;
        margin-bottom: 20%;
    }
}