/* Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap');

/* font-family: "Great Vibes", cursive; */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #1a1a1a;
}

/* Navbar section style */
header {
    /* background-color: aqua; */

}

.navbar-title {
    margin-top: 3.6rem;
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.navbar-section-2 {
    margin-top: 3.6rem;
    border: 1px solid;
    padding: 5px;
    border-radius: 50px;
    border: 2px solid red;
}

.navbar-button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #1a1a1a;
    font-size: 1.125rem;
    font-weight: 600;
}

.navbar-button:hover {
    background-color: rgb(230, 83, 60);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 11.87rem;
    margin-right: 11.87rem;
}

ul li {
    list-style: none;
}

.navbar-option {
    display: flex;
    gap: 2.25rem;
    width: 100%;
}

/* Banner section style */
.banner {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15.5rem;
    margin-left: 11.87rem;
    margin-right: 11.87rem;
}

.banner-title {
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
}

.shape {
    font-family: "Great Vibes", cursive;
    font-size: 4.8rem;
    font-weight: 400;
}

.banner-description {
    margin-top: 1.75rem;
    color: rgba(255, 255, 255, 0.5);
}

.banner-button {
    margin-top: 1.75rem;
    padding: 16px 40px 16px 40px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0f0f0f;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.banner-button:hover {
    background-color: rgb(230, 83, 60);
    border: none;
}

.banner-section-1 {
    border: 2px solid red;
}

.banner-section-2 {
    border: 2px solid red;
    position: relative;
}

.ring-button {
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(230, 83, 60);
    border: none;
}

/* .box-1{
    position: absolute;
    top: 10%;
    margin-left: -50px;
    color: white;
} */
.box-2 {
    position: absolute;
}

.main-box {
    border: 2px solid red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 15%;
    margin-left: -25%;
    padding: 15px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 8px;
}

.box-1-title{
    font-size: 1.5rem;
    font-weight: 900;
}

.box-1-description{
    font-size: 1rem;
    font-weight: 400;
}

.circle {
    padding: 15px;
    border-radius: 100px;
    border: none;
    background-color: rgb(230, 83, 60);
}

.box-2 {
    color: white;
    position: absolute;
    bottom: 70%;
    margin-left: 80%;
    border: 2px solid red;
    padding: 5%;
}


/* .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid red;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    position: absolute;
    width: 12.87rem;
    height: 6rem;
    left: 65.62rem;
    top: 33.12rem;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 10%;
} */

/* .tutorial {
    color: white;
} */

/* .tutorial-video {
    border: 2px solid red;
    position: absolute;
    margin: 0 auto;
    width: 193px;
    height: 98px;
    left: 1380px;
    top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 10%;

} */

/* Small device responsive */
@media screen and (max-width 576) {}